* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

body {
	background-color: #f9f9f9;
	font-size: 16px;
}

img {
	width: 75px;
	height: 35px;
	padding-right: 34px;
}
 p {
 	width: 90%;
 }

.navbar {
	display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    top: 0;
    left: 0;
    height: 60px;
    position: sticky;
}

.search-box {
	max-width: 557px;
    width: 50%;
    height: 35px;
    display: flex;
    position: relative;
    margin-left: 20%;
}

.search-bar {
	width: 85%;
	height: 100%;
	border: 2px solid #dbdbdb;
	padding: 0 20px;
	font-size: 16px;
}

.srch-btn {
	background-color: #f0f0f0;
    border: 2px solid #dbdbdb;
    padding: 5px 0;
    border-left: none;
}

.srch-btn img {
	height: 100%;
    padding-left: 37px;
    padding-right: 19px;
    height: 100%;
    padding-left: 37px;
    padding-right: 19px;
    margin-top: 1px;
}

.ylogo {
	width: 200px;
	height: 75px;
}

.ppic {
	width: 75px;
	height: 50px;
}

.option {
	height: 35px;
	display: flex;
	margin-left: auto;
	align-items: center;
}

.vsd {
	display: grid;
  	grid-template-columns: 1fr 1fr 1fr 1fr;
  	padding: .5rem 1.5rem;
  	margin: 0 auto;
  	margin-top: 3rem;
  	max-width: 1930px;
  	background-color: #f9f9f9;
}

.main {
	grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    border-bottom: 1px solid rgba(0,0,0,.1);
}

.video {
	position: relative;
	padding-bottom: 50%;
	padding-right: 50%;
}

.video iframe {
  position: absolute;
  width: 100%;
  height: 100%;
}

.ppic img {
	object-fit: cover;
}

.video-info h1 {
	font-weight: 400;
	margin-right: 371px;
}

.video-info {
	position: relative;
    margin-top: 25px;
    margin-left: 15px;
}

.video-info span {
	color: #777;
}

.vicon {
	display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.vicon img {
	height: 100px;
	width: 100px;
	padding: .3rem;
	height: 2rem;
	width: 2rem;
	opacity: .5;
}

.descr {
	grid-column-start: 1;
  	grid-column-end: 4;
  	grid-row-start: 2;
  	grid-row-end: 3;
  	padding: 16px 0;
  	position: relative;
  	border-bottom: 1px solid rgba(0,0,0,.1);
}

.descr-info {
	display: flex;
    flex-direction: row;
    margin-bottom: 56px;
}



.icon img {
	height: 103px;
    width: 138px;
    margin-top: -25px;
}

.title h1 {
	font-size: 1.1rem;
}

.title p {
	line-height: 1.5rem;
}

.descr-info button {
	margin-top: 1rem;
    top: 0;
    right: 0;
    height: 2.5rem;
    width: 7rem;
    font-size: .9rem;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    background-color: rgb(204,0,0);
    margin-left: auto;
    border: none;
}

.show-more p {
	margin-top: 10px;
}

.comments {
	grid-column-start: 1;
  	grid-column-end: 4;
  	grid-row-start: 3;
  	grid-row-end: 4;
  	padding-top: 16px;
}

.comments-info {
	display: flex;
    margin-left: 27px;
    margin-bottom: 26px;
}

.form {
	display: flex;
	margin-bottom: 26px;
}

.form input {
	font-size: 1rem;
	border: none;
	border-bottom: 1px solid lightgray;
	display: flex;
    outline: none;
    background-color: #f8f8f8;
    width: 90%;
}

.comments-info span {
	display: flex;
    margin-left: 58px;
    align-items: center;
}

.comments-info img {
	height: 18px;
    width: 53px;
}

.comments-info h1 {
	margin-left: -20px;
	font-size: 16px;
}

.avatar {
	display: flex;
}

.comment {
	padding: 16px;
}

.comment h2 {
	font-weight: 500;
	font-size: 1.3rem;
	display: block;
	margin-bottom: 2px;
}

a {
	width: 3rem;
}

.commentor {
	font-size: 14px;
	font-weight: 500;
}

.date {
	font-size: 12px;
	color: #777;
}

.comment p {
	font-size: 20px;
	margin-top: 8px;
	width: 80%;
}

.comment img {
	width: 31px;
    height: 17px;
    padding-right: 10px;
}

.comment button {
	margin-right: 16px;
    height: 16px;
    background-color: #f8f8f8;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: .03rem;
    opacity: .7;
    cursor: pointer;
    border: none;
}

.comment a {
	font-size: 14px;
}

.side {
	display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.top-btns {
	padding: 12px;
	margin-right: 100px;
}

.tbtn {
	border-radius: 6px;
	margin-right: 6px;
}

.cards {
	grid-column-start: 4;
  	grid-column-end: 5;
  	grid-row-start: 1;
  	padding-left: 24px;
}

.vid {
	display: flex;
    flex-direction: row;
    padding-bottom: 11px;
}

.tnail img {
	height: 100px;
	width: 199px;
	padding-right: 0;
}

.tinfo {
	width: 100%;
	font-size: 11px;
}

.tinfo h3 {
	font-size: 16px;
}

.tinfo h4 {
	font-weight: 400;
}








